<% layout('/layouts/boilerplate') %>

<div class="row mt-3">

     <h1 class="col-6 offset-3">Create Account on Note App</h1>
     
  <div class="col-6 offset-3">
        
<% if(success.length > 0){ %>

<div class="alert success">

<span><%= success %></span>

<button class="closeAlert">
X
</button>

</div>

<% } %>

<% if(error.length > 0){ %>

<div class="alert error">

<span><%= error %></span>

<button class="closeAlert">
X
</button>

</div>

<% } %>

<form action="/signup" method="POST" class="needs-validation" novalidate>
<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" class="form-control" required>
    <div class="valid-feedback">Looks good!</div>
</div>

<div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" 
    placeholder="example@gmail.com" 
    class="form-control" pattern=".+@gmail\.com" required>
    <div class="valid-feedback">Email Looks good!</div>
</div>

<div class="passwordBox mb-3">
    <label for="password" class="form-label">Password</label>
<input type="password" name="password" id="password"
placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$#_-]).{8,}$"
title="Password must contain uppercase, lowercase, number, special character and minimum 8 characters"
class="form-control" required>
<i class="fa-solid fa-eye togglePassword"></i>
</div>

<button type="submit" class="btn btn-success">Signup</button>
</form>
<br>
<a href="/login">Already have account?</a>
<br><br>

<script src="/auth.js"></script>

    </div>
</div>

